
.slider-container {
    width:100%;
    height:200px;
    overflow:hidden;
    overflow-x: scroll;

    ul.slider-wrapper {
        width: auto;
        height:100%;
        background: skyblue;
        list-style:none;
        padding:0;
        margin:0;
        transform:translateZ(0);
        transition-property: transform;
        transition-timing-function: ease-in-out;
        
        &>li {
            width:auto;
            height:100%;
            float:left;
            color:#fff;
            
            &:nth-child(1){
                background: red;
            }

             &:nth-child(2){
                background:skyblue;
            }

             &:nth-child(3){
                background: black;
            }

             &:nth-child(4){
                background: yellowgreen;
            }

             &:nth-child(5){
               background: red;
            }

        }
    }
}