#detail {
  .nav-bar {
    height:40px;
    line-height: 40px;
    margin-bottom:20px;
    padding:0 15px;
    background-color:#1AAD19;
    font-size:14px;
    color:#fff;
  }
  .article-detail {
    padding:15px;

    h1 {
      font-size:20px;
      font-weight: normal;
      color:#333;
    }
    h6 {
      font-size:12px;
      font-weight: normal;
      color:#666;
    }
    article {
      padding:20px 0;
      font-size:14px;
      color:#999;
      line-height: 1.6;
    }
    .next-article-bar {
      padding:15px 0;
      text-align: center;

    }
  }

  .comment-list {
    h1 {
      margin-bottom:15px;
      padding:0 15px;
      font-size:18px;
      font-weight: normal;
    }
    ul {
      list-style: none;
      margin:0;
      padding:0;

      &>li {
        margin-bottom:20px;
        padding:0 15px;

        .header {
          display:flex;
          align-items: center;
          justify-content: space-between;

          .avatar-wrapper {
            display:flex;
            align-items: center;
            justify-content: flex-start;

            img.avatar {
              width:40px;
              height:40px;
              margin-right:10px;
              border-radius:50%;
            }
          }

          .date {
            font-size:12px;
            color:#999;
          }
        }

        .body {
          margin:10px 0 0;
          font-size:14px;
          color:#666;
        }

        .footer {
           display:flex;
           align-items: center;
           justify-content: flex-end;

          .like-count {
            font-size:12px;
            color:#999;
          }
        }
      }
    }
  }

  .comment-form {
    button {
      margin:10px 15px 20px;
    }
  }
}